<div class="row">
  <div class="small-8 column">
    <h1>cardboard<h1>
    <h3>list of all users</h3>
    <ol>
      <% @users.each do |user| %>
        <% if user == current_user %>
            <li><%= link_to user.username, user_path(user) %>(you)</li>
        <% else %>
            <li><%= link_to user.username, user_path(user) %></li>
        <% end %>
      <% end %>
    </ol>
  </div>
</div>
