<div class="row" id="title">
  <div class="small-8 large-centered column" >
    <h1>cardboard<h1>
    <h3>for all your corrugated needs</h3>

  </div>
</div>
<div class="large-12 columns">
  <div class="row">
    <div class="large-4 small-6 columns">
      <div class="panel">
        <h4>newest games</h4><hr>
        <% @games_new.each do |game| %>
          <div class="row">
            <div class="large-12 small-centered columns">
              <h5><%= link_to game.name, game_path(game) %></h5>
            </div>
          </div><hr>
        <% end %>
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="panel">
        <h4>all the games</h4><hr>
        <% @games.each do |game| %>
          <div class="row">
            <div class="large-12 small-centered columns">
              <h5><%= link_to game.name, game_path(game) %></h5>
            </div>
          </div><hr>
        <% end %>
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <div class="panel">
        <h4>highest rated games</h4><hr>
        <% @games_rating.each do |game| %>
          <div class="row">
            <div class="large-12 small-centered columns">
              <h5><%= link_to game.name, game_path(game) %></h5>
            </div>
          </div><hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
