/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require_tree ./modules
 *= require slick
 *= require slick-theme

 */
$nexa-font: "Nexa Light", sans-serif;
$font-color: #ffffff;
$background-color: #222222;
$panel-color: #444444;
$panel-border: #d8d8d8;
$visited-color: #cc0000;
$hover-color: #999999;
$unvisited-color: #ff3300;

 @font-face {
   font-family: "Nexa Light";
   src: font-url('nexa_light.otf');
}

.larger {
  color: $font-color;
  font-size: 150%;
}

.smaller {
  font-size: 75%;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.inline {
  display: inline;
}

#wrapper {
  background-image: url("http://imgur.com/7OV7GsB.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 110%;
  z-index: 0;
  position: relative;
  left: -1em;
}

.autoplay {
  position: relative;
  top: 10px;
}

#sidebar_img {
  width: 300px;
  height: 465px;
}

body {
  background: $background-color;
  color: $font-color;
  font-family: $nexa-font;
}

#title {
  background: $background-color;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: $font-color;
  font-family: $nexa-font;
  text-align: center;
}

a {
  font-family: $nexa-font;
}

a:link {
  color: $unvisited-color;

}

a:visited {
  color: $visited-color;
}

a:hover {
  color: $hover-color;
}

#l_sidebar {
  text-align: center;
}

.slick {
  text-align: center;
}

.panel {
  background-color: $panel-color;
  border-radius: 5px;
}

.vote-arrows {
  color: $font-color;
}

.panel .panel-text {
  color: $font-color;
}

.panel #created {
  color: $font-color;
}

.top-bar-section {
  font-family: $nexa-font;
}

.xp {
  padding-top: 10px;
}

.right {
  font-family: $nexa-font;
}

.photo {
  width: 40px;
  height: 40px;
  padding-top: 5px;
}

.level {
  color: $visited-color;
}

.nope {
  text-align: center;
}

.photo {
  height: 40px;
  overflow: hidden;
  padding-top: 5px;
  width: 40px;
}

.logo {
  height: 30px;
  overflow: hidden;
}

.field label {
  color: $font-color;
  font-size: 1em;
}

.tag {
  border-color: $panel-border;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 0.15rem 0.40rem;
  text-align: inline;
}

#nameplate {
  font-size: 1.7em;
}

.btn {
  background:none;
  border:none;
  color: $unvisited-color;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.actions input {
  background:none;
  border:none;
  color: $unvisited-color;
  padding: 0;
}

.large-4 img {
  padding-top: 140px;
}

.carousel {
    position: relative;
    right: 13%;
}
